// Include custom variable default overrides here
//$theme-colors: (
//        "primary": #ffff00,
//        "danger": #ff4136
//);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px
);

.navbar-donho {
  background-image: url("../img/bg-small.jpg");
  background-repeat: repeat;
  background-color: white;
}

.jumbotron.homepage-hero {
  //height: 600px;

  background-image: url("../img/bg-small.jpg");
  background-repeat: repeat;
  background-color: white;
}

.techstack {
  //background-color: #e9f6f6;
}

.homepage-component {
  margin-bottom: 6rem;
}

@import "node_modules/bootstrap/scss/bootstrap";

//max-width of container
.w-container {
  max-width: none;
}

@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .w-container {
      max-width: $container-max-width;
    }
  }
}

//@include media-breakpoint-up(lg) {
//  .jumbotron.homepage-hero {
//    //height: 500px;
//  }
//}

.min-100 {
  min-height: 100%;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.highlight pre {
  padding: 1rem;
}
