// Include custom variable default overrides here
//$theme-colors: (
//        "primary": #ffff00,
//        "danger": #ff4136
//);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px,
        xxl: 960px
);

:root {
  --nav-bg-color: #8dd7d7;
}

.navbar-donho {
  //background-color: var(--nav-bg-color);
}

.jumbotron.homepage-hero {
  height: 600px;

  background-image: url("../img/bg-small.jpg");
  background-repeat: repeat;
  /*background-size: cover;*/
  background-color: var(--nav-bg-color);
}

.techstack {
 //background-color: #e9f6f6;
}

.homepage-component {
  margin-bottom: 6rem;
}

@import "node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-up(lg) {
  .jumbotron.homepage-hero {
    height: 500px;
  }
}
