@import "node_modules/bootstrap/scss/bootstrap";

// Include custom variable default overrides here
//$theme-colors: (
//        "primary": #ffff00,
//        "danger": #ff4136
//);

:root {
  --nav-bg-color: #8dd7d7;
}

.navbar-donho {
  background-color: var(--nav-bg-color);
}

.jumbotron.homepage-hero {
  height: 600px;

  /*background-image: url("../img/hero-bg.jpg");*/
  /*background-size: cover;*/
  background-color: var(--nav-bg-color);
}

@include media-breakpoint-up(lg) {
  .jumbotron.homepage-hero {
    height: 500px;
  }
}

.techstack {
 background-color: #e9f6f6;
}
