{{ define "main" }}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="jumbotron homepage-hero p-0 h-hero">
                    <div class="h-100 d-flex flex-column">
                        <div>
                            {{- partial "header.html" . -}}
                        </div>
                        <div class="flex-grow-1">
                            <div class="row h-100 justify-content-center">
                                <div class="col h-100 w-container">
                                    <div class="row h-100 align-items-end">
                                        <div class="col-12 col-md-7 pb-5">
                                            <h1 class="display-4">{{ .Page.Params.greeting }}</h1>
                                            <p class="lead">{{ .Page.Params.introduction }}</p>
                                            {{ .Content }}
                                            <button type="button" class="btn btn-primary">Let's talk</button>
                                        </div>
                                        <div class="col-md-5">
                                            <img src="img/person.png" alt="Picture of Don Ho" width="350px"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="homepage-component">
            <div class="lead text-center">Companies I have worked for</div>
            <div class="d-flex flex-wrap justify-content-around mt-3">
                <img src="img/logo_uniper_bw.png" alt="Uniper Logo" width="60px"/>
                <img src="img/logo_dbschenker_bw.png" alt="DB Schenker Logo" width="320px"/>
                <img src="img/logo_lvm_bw.png" alt="LVM Logo" width="120px"/>
                <img src="img/logo_rwe_bw.png" alt="RWE Logo" width="120px" height="35px" class="mt-3"/>
            </div>
        </div>

        <div class="homepage-component">
            <div class="lead text-center">Technologies I use</div>
            <div class="row">
                <div class="col-12 col-md-4 p-3 techstack">
                    <div>Frontend</div>
                    <span class="badge badge-secondary">ReactJS</span>
                    <span class="badge badge-secondary">Typescript</span>
                    <span class="badge badge-secondary">JavaScript</span>
                    <span class="badge badge-secondary">Bootstrap</span>
                </div>
                <div class="col-12 col-md-4 p-3 techstack">
                    <div>Backend</div>
                    <span class="badge badge-secondary">Java</span>
                    <span class="badge badge-secondary">Kotlin</span>
                    <span class="badge badge-secondary">Spring Framework</span>
                    <span class="badge badge-secondary">PostgreSQL</span>
                    <span class="badge badge-secondary">Hibernate</span>
                </div>
                <div class="col-12 col-md-4 p-3 techstack">
                    <div>Infrastructure</div>
                    <span class="badge badge-secondary">Azure Cloud</span>
                    <span class="badge badge-secondary">Hetzner Cloud</span>
                    <span class="badge badge-secondary">Terraform</span>
                </div>
            </div>
        </div>

        <div class="homepage-component">
            <h2 class="lead text-center">About me</h2>
            <p>
                I started programming at the age of...
            </p>
            <p>
                I love working on projects with...
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim amet elementum interdum lacus sit lacus a
                lectus.
                Viverra vel sagittis suspendisse laoreet cum proin convallis iaculis. Porta ut mauris a vestibulum
                vulputate.
                Nibh vel magna viverra nibh venenatis eu, blandit vulputate imperdiet. Quis arcu accumsan enim lectus
                justo,
                erat tellus. Sit praesent arcu sed risus, enim nec facilisi. Et cursus iaculis tellus vel lobortis
                mauris.
                Aliquam diam lectus pellentesque netus. Gravida aliquam bibendum enim non non sed.
            </p>
        </div>

        {{/*        {{ $recentposts := 5 }}*/}}
        {{/*        {{ if .Params.recentposts }}*/}}
        {{/*            {{ $recentposts = .Params.recentposts }}*/}}
        {{/*        {{ end }}*/}}

        {{/*        <div class="lead text-center">Recent posts</div>*/}}

        {{/*        {{ range first $recentposts (where .Pages "Type" "posts" ) }}*/}}
        {{/*            <h2 class="mt-5"><a class="text-body" href="{{ .URL | relURL}}">{{ .Title | markdownify}}</a></h2>*/}}
        {{/*            {{ if .Params.Subtitle }}*/}}
        {{/*                <h3 class="font-weight-light font-italic mb-3">{{ .Params.Subtitle | markdownify }}</h3>*/}}
        {{/*            {{ end }}*/}}

        {{/*            <p class="text-muted mt-3">*/}}
        {{/*                <a class="text-muted" href="{{ .Permalink }}">Published {{ .Date.Format "January 2, 2006"  }}</a>*/}}

        {{/*                {{ range .Params.tags }}*/}}
        {{/*                    <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>*/}}
        {{/*                {{ end }}*/}}
        {{/*            </p>*/}}

        {{/*            <article class="article">*/}}
        {{/*                <p>{{ .Summary }}</p>*/}}
        {{/*            </article>*/}}

        {{/*            <p class="text-muted">Reading time: about {{ .ReadingTime }} minutes</p>*/}}
        {{/*            <p><a class="btn btn-primary" href="{{ .URL | relURL }}">Read more...</a></p>*/}}
        {{/*        {{ end }}*/}}

    </div>
{{ end }}