{{ define "main" }}
    <div class="jumbotron homepage-hero p-0 pb-3">
        {{- partial "header.html" . -}}
        <div class="container">

            <div class="row">
                <div class="col-7">
                    <h1 class="display-4">{{ .Page.Params.greeting }}</h1>
                    <p class="lead">{{ .Page.Params.introduction }}</p>
                    {{ .Content }}
                </div>
            </div>

            <button type="button" class="btn btn-primary">Let's talk</button>
        </div>
    </div>


    <div class="container">
        <h2 class="text-center">Companies I have worked with</h2>
        Uniper, LVM, LZPD, DB Schenker, RWE

        <h2 class="text-center">About me</h2>
        I am a Java Developer based in Mönchengladbach, Germany.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim amet elementum interdum lacus sit lacus a lectus.
        Viverra vel sagittis suspendisse laoreet cum proin convallis iaculis. Porta ut mauris a vestibulum vulputate.
        Nibh vel magna viverra nibh venenatis eu, blandit vulputate imperdiet. Quis arcu accumsan enim lectus justo,
        erat tellus. Sit praesent arcu sed risus, enim nec facilisi. Et cursus iaculis tellus vel lobortis mauris.
        Aliquam diam lectus pellentesque netus. Gravida aliquam bibendum enim non non sed.

        <h2 class="text-center">Technology Stack</h2>
        Java, Spring, Typescript, JavaScript, React

        {{ $recentposts := 5 }}
        {{ if .Params.recentposts }}
            {{ $recentposts = .Params.recentposts }}
        {{ end }}

        <h2 class="text-center">Recent posts</h2>

        {{ range first $recentposts (where .Pages "Type" "posts" ) }}
            <h2 class="mt-5"><a class="text-body" href="{{ .URL | relURL}}">{{ .Title | markdownify}}</a></h2>
            {{ if .Params.Subtitle }}
                <h3 class="font-weight-light font-italic mb-3">{{ .Params.Subtitle | markdownify }}</h3>
            {{ end }}

            <p class="text-muted mt-3">
                <a class="text-muted" href="{{ .Permalink }}">Published {{ .Date.Format "January 2, 2006"  }}</a>

                {{ range .Params.tags }}
                    <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
                {{ end }}
            </p>

            <article class="article">
                <p>{{ .Summary }}</p>
            </article>

            <p class="text-muted">Reading time: about {{ .ReadingTime }} minutes</p>
            <p><a class="btn btn-primary" href="{{ .URL | relURL }}">Read more...</a></p>
        {{ end }}

    </div>
{{ end }}